@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Rubik");
@import url("https://fonts.googleapis.com/css?family=Arsenal|Bevan|Bungee+Shade|Fugaz+One");
.title {
  padding-top: 2rem;
  padding-bottom: 5.5rem;
  border-bottom: dashed 3px #000;
  position: relative; }

.logo-box {
  right: 4.5rem;
  position: absolute; }
  .logo-box:hover .logo path {
    fill: #000; }

.logo {
  width: 4rem; }

.logo-container {
  position: absolute; }

@-webkit-keyframes flow1 {
  0% {
    padding-top: 5px; }
  50% {
    padding-top: 6px; }
  110% {
    padding-top: 5px; } }

@keyframes flow1 {
  0% {
    padding-top: 5px; }
  50% {
    padding-top: 6px; }
  110% {
    padding-top: 5px; } }

.logo-container:nth-child(1) {
  padding-top: 5px;
  padding-left: 11px;
  will-change: padding-top; }

@-webkit-keyframes flow2 {
  0% {
    padding-top: 10px; }
  50% {
    padding-top: 12px; }
  110% {
    padding-top: 10px; } }

@keyframes flow2 {
  0% {
    padding-top: 10px; }
  50% {
    padding-top: 12px; }
  110% {
    padding-top: 10px; } }

.logo-container:nth-child(2) {
  padding-top: 10px;
  padding-left: 22px;
  will-change: padding-top; }

@-webkit-keyframes flow3 {
  0% {
    padding-top: 15px; }
  50% {
    padding-top: 18px; }
  110% {
    padding-top: 15px; } }

@keyframes flow3 {
  0% {
    padding-top: 15px; }
  50% {
    padding-top: 18px; }
  110% {
    padding-top: 15px; } }

.logo-container:nth-child(3) {
  padding-top: 15px;
  padding-left: 33px;
  will-change: padding-top; }

@-webkit-keyframes flow4 {
  0% {
    padding-top: 20px; }
  50% {
    padding-top: 24px; }
  110% {
    padding-top: 20px; } }

@keyframes flow4 {
  0% {
    padding-top: 20px; }
  50% {
    padding-top: 24px; }
  110% {
    padding-top: 20px; } }

.logo-container:nth-child(4) {
  padding-top: 20px;
  padding-left: 44px;
  will-change: padding-top; }

.nav {
  position: absolute;
  right: 0;
  bottom: 0; }
  .nav__list {
    list-style: none; }
  .nav__item {
    font-size: 1.3rem;
    display: inline-block; }
    .nav__item a {
      color: #000;
      padding: 0 10px;
      display: inline-block;
      background: red; }
      .nav__item a object {
        margin-bottom: -0.5rem;
        width: 1.5rem; }

.article {
  position: relative;
  margin: 5rem 0; }
  .article__title, .article__description {
    margin: 0;
    width: 60%;
    margin-bottom: 3rem; }
  .article__title {
    font-family: 'Bungee Shade', sans-serif;
    color: #000;
    font-size: 3.2rem;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .article__title:hover {
      -webkit-transform: translate(5px, -5px);
          -ms-transform: translate(5px, -5px);
              transform: translate(5px, -5px); }
  .article__description {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.9rem;
    word-spacing: normal;
    width: 100%; }
  .article__image {
    border: 3px solid #000;
    width: 100%;
    display: inline-block;
    margin-bottom: 3rem; }
  .article__image--overflowed {
    width: 110%;
    margin-left: -5%; }

.article__page .article__image {
  position: relative;
  width: 100vw;
  height: 480px;
  margin-left: -17.5vw;
  background: black;
  border: none;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000; }

.article__page .article__title {
  background: #fff;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 20px;
  z-index: 5; }
  .article__page .article__title:hover {
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial; }

.article__page .article__content {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.9rem;
  word-spacing: normal;
  width: 90%;
  margin-left: 5%; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Arsenal', sans-serif;
  background: #efefef; }

.container {
  position: relative;
  margin: 30px auto;
  max-width: 65vw;
  width: 100%; }

.separator {
  border-bottom: dashed 3px #000;
  margin: 0 auto 30px auto;
  width: 33%; }

.hl {
  background: #ffff00; }

a {
  text-decoration: none; }
  a:visited {
    color: darkgreen; }
